.team_text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 113px;
}
.thumbnail{
    width: 266px;
    padding: 0;
    border-radius: 0;
}
.team-caption {
    width: 264px;
    background: #2e4a5b;
}
.team-caption:hover, .team-caption p:hover{
    background-color: #18cfab;
    color: #2e4a5b;
}

.team-caption h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.team-caption p{
    color: #18cfab;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
